{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import", {
        "libraryName": "antd"
      }
    ],
    [
    	"module-resolver", {
	      "root": ["."],
	      "alias": {
          "Src":"./src",
          "Context":"./context",
	        "Components": "./components",
	        "Templates": "./templates",
          "Styles": "./public/style",
          "Utilities": "./utilities",
          "State":"./state",
          "Library":"./library",
          "Helper":"./helper"
	      }
	    }
    ]
  ]
}
