#**
The value of 'payload' after the template has been evaluated
will be passed as the event to AWS Lambda.
*#

#set( $input = {
	"name":$ctx.args.input.name,
    "emailAddress":$ctx.args.input.emailAddress,
    "phoneNumber":$ctx.args.input.phoneNumber,
    "password":$ctx.args.input.password
} )

#if(!$util.isNull($ctx.args.input.accountId) && !$util.isNull($ctx.args.input.role))
	#set($access={
    	"accountId":$ctx.args.input.accountId,
        "role":$ctx.args.input.role
    })    
    $util.qr($ctx.stash.put("access",$access))
#end


$util.qr($ctx.stash.put("field","createUser"))
$util.qr($ctx.stash.put("input",$input))

{}
