#set( $input = {
    "accountId":$ctx.args.input.accountId,
    "postId":$ctx.args.input.postId,
    "status":3,
    "__typename":"QnA",
    "version":1,
    "createdBy":$ctx.identity.sub,
    "updatedBy":$ctx.identity.sub,
    "createdAt":$util.time.nowISO8601(),
    "updatedAt":$util.time.nowISO8601()
} )

#if( !$util.isNull($ctx.args.input.replyToId ))
	$util.qr($input.put("replyToId",$ctx.args.input.replyToId))
#end

#if( !$util.isNull($ctx.args.input.lessonId ))
	$util.qr($input.put("lessonId",$ctx.args.input.lessonId))
#end

$util.qr($ctx.stash.put("input",$input))

$util.qr($ctx.stash.put("field","put"))
#if( !$util.isNull($ctx.args.input.lessonId ))
    $util.qr($ctx.stash.put("folder","public/${ctx.args.input.accountId}/posts/${ctx.args.input.postId}/lessons/${ctx.args.input.lessonId}/qnas"))
#else
    $util.qr($ctx.stash.put("folder","public/${ctx.args.input.accountId}/posts/${ctx.args.input.postId}/qnas"))
#end
$util.qr($ctx.stash.put("content",$ctx.args.input.content))

{}