#set( $input = {
    "accountId":$ctx.args.input.accountId,
    "classroomId":$ctx.args.input.classroomId,
    "title":$ctx.args.input.title,
    "seq":$ctx.args.input.seq,
    "status":3,
    "__typename":"Lesson",
    "version":1,
    "createdBy":$ctx.identity.sub,
    "updatedBy":$ctx.identity.sub,
    "createdAt":$util.time.nowISO8601(),
    "updatedAt":$util.time.nowISO8601()
} )


$util.qr($ctx.stash.put("input",$input))

$util.qr($ctx.stash.put("field","put"))
$util.qr($ctx.stash.put("folder","public/${ctx.args.input.accountId}/classrooms/${ctx.args.input.classroomId}/lessons"))
$util.qr($ctx.stash.put("content",$ctx.args.input.content))

{}