

#set($arguments={
  "key":"public/${ctx.source.accountId}/qnas/${ctx.source.id}.txt"
})

{
  "version" : "2017-02-28",
  "operation": "Invoke",
  "payload": {
      "field":"get",
      "arguments":$util.toJson($arguments)
  }
}