#**
The value of 'payload' after the template has been evaluated
will be passed as the event to AWS Lambda.
*#

$util.qr($ctx.stash.put("user",{
	"phoneCode":$ctx.args.input.phoneCode,
    "phoneNumber":$ctx.args.input.phoneNumber
}))

#set( $input = {
	"name":$ctx.args.input.name,
    "emailAddress":$ctx.args.input.emailAddress,
    "phoneNumber":"${ctx.args.input.phoneCode}${ctx.args.input.phoneNumber}",
    "password":$ctx.args.input.password
} )


#if(!$util.isNull($ctx.args.input.role))
    $util.qr($ctx.stash.put("role",$ctx.args.input.role))
#end


#if( !$util.isNull($ctx.args.input.createdById))
	$util.qr($input.put("createdBy",$ctx.args.input.createdById))
#end

#if( !$util.isNull($ctx.args.input.updatedById))
	$util.qr($input.put("updatedBy",$ctx.args.input.updatedById))
#end

$util.qr($ctx.stash.put("field","createUser"))
$util.qr($ctx.stash.put("input",$input))

{}
