#**
The value of 'payload' after the template has been evaluated
will be passed as the event to AWS Lambda.
*#
#set($params={
	"params":$ctx.args.input.params
})
{
  "version" : "2017-02-28",
  "operation": "Invoke",
  "payload": $util.toJson($params)
}